In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('GSE148375_processed_data.txt', delimiter='\t')

In [3]:
df.head()

,ID_REF,1900017,1900029,1900030,1900031,1900040,1900043,1900046,1900048,1900049,...,215606,215753,215762,215763,215764,215769,215771,215772,215773,215827
0,exm2268640-0_B_F_1984844585,AG,GG,GG,GG,GG,GG,GG,GG,GG,...,GG,NC,GG,GG,GG,GG,GG,GG,GG,GG
1,exm41-0_B_F_1921435147,GG,GG,GG,GG,GG,GG,GG,GG,GG,...,GG,AA,GG,GG,GG,GG,GG,GG,GG,GG
2,exm1916089-0_B_R_1927689775,GG,GG,GG,GG,GG,GG,GG,GG,GG,...,GG,NC,GG,GG,GG,GG,GG,GG,GG,GG
3,exm44-0_B_R_1921538602,GG,GG,GG,GG,GG,GG,GG,GG,GG,...,GG,AG,GG,GG,GG,GG,GG,GG,GG,GG
4,exm46-0_T_F_1921333919,GG,GG,GG,GG,GG,GG,GG,GG,GG,...,GG,NC,GG,GG,GG,GG,GG,GG,GG,GG

In [9]:
df.shape

(242901, 3400)

In [20]:
import csv

# Chemin vers le fichier CSV d'origine
chemin_fichier_origine = "GPL18545_humanexome-12v1-1_a.csv"

# Chemin vers le nouveau fichier CSV sans les 8 premières lignes
chemin_nouveau_fichier = "newGPL18545_humanexome-12v1-1_a.csv"

# Ouvre le fichier CSV d'origine et lit son contenu
with open(chemin_fichier_origine, newline='') as csvfile_origine:
    contenu_csv = csv.reader(csvfile_origine)

    # Lit et ignore les 8 premières lignes du fichier CSV
    for i in range(7):
        next(contenu_csv)

    # Crée un nouveau fichier CSV sans les 8 premières lignes
    with open(chemin_nouveau_fichier, mode='w', newline='') as csvfile_nouveau:
        csv_writer = csv.writer(csvfile_nouveau)

        # Copie le contenu du fichier CSV d'origine (sans les 8 premières lignes) vers le nouveau fichier CSV
        for row in contenu_csv:
            csv_writer.writerow(row)

In [21]:
df_csv= pd.read_csv('newGPL18545_humanexome-12v1-1_a.csv', delimiter=",")

In [22]:
df_csv.shape

(242925, 21)

In [23]:
df_csv.head()

,IlmnID,Name,IlmnStrand,SNP,AddressA_ID,AlleleA_ProbeSeq,AddressB_ID,AlleleB_ProbeSeq,GenomeBuild,Chr,...,Ploidy,Species,Source,SourceVersion,SourceStrand,SourceSeq,TopGenomicSeq,BeadSetID,Exp_Clusters,RefStrand
0,exm-IND1-200449980-0_M_R_1990486447,exm-IND1-200449980,MINUS,[D/I],69606251.0,CTGTGGAACTTTCCGGAGCTCGGCACCCTTCCCCCAAGCCTACCTG...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,GAGGGCCGCTCAGCGAGGGCGGGACAGAACCTCTCCCGGGCTGGGA...,GAGGGCCGCTCAGCGAGGGCGGGACAGAACCTCTCCCGGGCTGGGA...,662.0,3.0,-
1,exm-IND1-201453487-0_M_R_1990486448,exm-IND1-201453487,MINUS,[D/I],3775555.0,TCCTGCAACCAGGGCCGATACCCCCTCATCCAGACGCTACGGCAGG...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CATGGAGCTGTGTTTGTACCCCACCTCCAAATTCCACCACTGGCCC...,CATGGAGCTGTGTTTGTACCCCACCTCCAAATTCCACCACTGGCCC...,662.0,3.0,-
2,exm-IND1-85310248-0_P_F_1990486624,exm-IND1-85310248,PLUS,[I/D],56795122.0,TCAGAACCATGGCTCCAAAACAAAAGAAAAAGACATCACGTGGCAA...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CTTTATGCAGCCCAAGTCAGAACCATGGCTCCAAAACAAAAGAAAA...,CTTTATGCAGCCCAAGTCAGAACCATGGCTCCAAAACAAAAGAAAA...,688.0,3.0,+
3,exm-IND10-102817747-0_P_F_1990486569,exm-IND10-102817747,PLUS,[I/D],30777118.0,CTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCGACATCTCTGGCA...,NaN,NaN,37.1,10,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,GGGAACACCTGGCTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCG...,GGGAACACCTGGCTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCG...,662.0,3.0,+
4,exm-IND10-18329639-0_M_R_1990486442,exm-IND10-18329639,MINUS,[D/I],87684402.0,AAGGCTGCTCCTATGGCTAGGCCATCTGCAAAATTATGCAGGCTGT...,NaN,NaN,37.1,10,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CTGTGTTTATTTGGTTCCTTAGGTAAAGCCATTAGCTTGTTAGCAA...,CTGTGTTTATTTGGTTCCTTAGGTAAAGCCATTAGCTTGTTAGCAA...,662.0,3.0,-

In [5]:
import csv

# Ouverture du fichier CSV en mode lecture
with open('GPL18545_humanexome-12v1-1_a.csv', 'r') as csvfile:
    # Lecture du contenu du fichier CSV
    csvreader = csv.reader(csvfile)

    # Suppression des 7 premières lignes
    for i in range(7):
        next(csvreader)

    # Ouverture du fichier CSV en mode écriture
    with open('nouveau_fichier.csv', 'w', newline='') as newcsvfile:
        # Écriture du contenu du fichier CSV sans les 7 premières lignes
        csvwriter = csv.writer(newcsvfile)
        for row in csvreader:
            csvwriter.writerow(row)

In [6]:
input_file = "nouveau_fichier.csv"
genotypes = pd.read_csv(input_file, sep=",")

/usr/local/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
genotypes.head()

,IlmnID,Name,IlmnStrand,SNP,AddressA_ID,AlleleA_ProbeSeq,AddressB_ID,AlleleB_ProbeSeq,GenomeBuild,Chr,...,Ploidy,Species,Source,SourceVersion,SourceStrand,SourceSeq,TopGenomicSeq,BeadSetID,Exp_Clusters,RefStrand
0,exm-IND1-200449980-0_M_R_1990486447,exm-IND1-200449980,MINUS,[D/I],69606251.0,CTGTGGAACTTTCCGGAGCTCGGCACCCTTCCCCCAAGCCTACCTG...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,GAGGGCCGCTCAGCGAGGGCGGGACAGAACCTCTCCCGGGCTGGGA...,GAGGGCCGCTCAGCGAGGGCGGGACAGAACCTCTCCCGGGCTGGGA...,662.0,3.0,-
1,exm-IND1-201453487-0_M_R_1990486448,exm-IND1-201453487,MINUS,[D/I],3775555.0,TCCTGCAACCAGGGCCGATACCCCCTCATCCAGACGCTACGGCAGG...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CATGGAGCTGTGTTTGTACCCCACCTCCAAATTCCACCACTGGCCC...,CATGGAGCTGTGTTTGTACCCCACCTCCAAATTCCACCACTGGCCC...,662.0,3.0,-
2,exm-IND1-85310248-0_P_F_1990486624,exm-IND1-85310248,PLUS,[I/D],56795122.0,TCAGAACCATGGCTCCAAAACAAAAGAAAAAGACATCACGTGGCAA...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CTTTATGCAGCCCAAGTCAGAACCATGGCTCCAAAACAAAAGAAAA...,CTTTATGCAGCCCAAGTCAGAACCATGGCTCCAAAACAAAAGAAAA...,688.0,3.0,+
3,exm-IND10-102817747-0_P_F_1990486569,exm-IND10-102817747,PLUS,[I/D],30777118.0,CTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCGACATCTCTGGCA...,NaN,NaN,37.1,10,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,GGGAACACCTGGCTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCG...,GGGAACACCTGGCTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCG...,662.0,3.0,+
4,exm-IND10-18329639-0_M_R_1990486442,exm-IND10-18329639,MINUS,[D/I],87684402.0,AAGGCTGCTCCTATGGCTAGGCCATCTGCAAAATTATGCAGGCTGT...,NaN,NaN,37.1,10,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CTGTGTTTATTTGGTTCCTTAGGTAAAGCCATTAGCTTGTTAGCAA...,CTGTGTTTATTTGGTTCCTTAGGTAAAGCCATTAGCTTGTTAGCAA...,662.0,3.0,-

In [10]:
# Chemin vers le fichier CSV contenant les données de génotypage Illumina
input_file = "nouveau_fichier.csv"

# Lecture des données de génotypage à partir du fichier CSV
genotypes = pd.read_csv(input_file, sep=",")

# Conversion des génotypes au format VCF
vcf = pd.DataFrame(columns=["CHROM", "POS", "ID", "REF", "ALT", "QUAL", "FILTER", "INFO", "FORMAT"])

vcf["CHROM"] = genotypes["Chr"]
vcf["POS"] = genotypes["MapInfo"]
vcf["ID"] = genotypes["IlmnID"]
vcf["REF"] = genotypes["AlleleA_ProbeSeq"]
vcf["ALT"] = genotypes["AlleleB_ProbeSeq"]
vcf["QUAL"] = "."
vcf["FILTER"] = "."
vcf["INFO"] = "."
vcf["FORMAT"] = "GT"

for i in range(0, len(genotypes.index)):
    # Conversion des génotypes en format VCF
    genotype = genotypes.iloc[i, 6:]
    vcf.loc[i, "SAMPLE"] = "Sample_" + str(i + 1)
    vcf.loc[i, "SAMPLE"] = ":".join([str(x) for x in genotype])

# Écriture des génotypes convertis en format VCF dans un fichier
vcf.to_csv("genotypes.vcf", sep="\t", index=False)

In [30]:
# Chemin vers le fichier CSV
filename = "newGPL18545_humanexome-12v1-1_a.csv"

# Charger le fichier CSV dans un dataframe pandas
df = pd.read_csv(filename)

# Supprimer les 23 dernières lignes
df = df.iloc[:-1]

# Écrire les données modifiées dans le fichier CSV
df.to_csv("newGPL18545_humanexome-12v1-1_a.csv", index=False)

In [13]:
#Une fonction qui supprime les crochéts
def remove_ends(input_string):
    if len(input_string) < 3:
        return ""
    else:
        return input_string[1:-1]

In [31]:
def remove_ends_column(df, column_name):
    # Créer une nouvelle colonne avec les valeurs modifiées
    new_column = []
    for i in df.index:
        value = df.loc[i, column_name]
        if isinstance(value, str):
            new_value = remove_ends(value)
        else:
            new_value = ""
        new_column.append(new_value)
    # Remplacer la colonne existante par la nouvelle colonne
    df[column_name] = new_column
    return df


remove_ends_column(genotypes, "SNP").head()

In [48]:
#Une fonction permettant d'extraire les SNPs des individus connaissant leurs identifiant de référence
def extract_row_by_id(df, id, id_column):
    row = df.loc[df[id_column] == id]
    return row

In [98]:
def extract_cell_value(row, col_index):
    # Récupération de la valeur de la cellule
    cell_value = row.iloc[0,col_index]
    return cell_value

In [73]:
### Chemin vers le fichier CSV contenant les données de génotypage Illumina
GPL_file = "newGPL18545_humanexome-12v1-1_a.csv"
GSE_file= "GSE148375_processed_data.txt"

# Lecture des données de génotypage à partir du fichier CSV
GPL = pd.read_csv(GPL_file, sep=",")
GSE = pd.read_csv(GSE_file, sep="\t")

/usr/local/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
def ajouter_colonnes(df):
    colonnes_a_ajouter = [f"sample_{i}" for i in range(1, num_samples+1)]
    df[colonnes_a_ajouter] = pd.DataFrame([[np.nan]*num_samples], index=df.index)
    return df

In [64]:
from tqdm import tqdm

In [86]:
GSE.head()

,ID_REF,1900017,1900029,1900030,1900031,1900040,1900043,1900046,1900048,1900049,...,215606,215753,215762,215763,215764,215769,215771,215772,215773,215827
0,exm2268640-0_B_F_1984844585,AG,GG,GG,GG,GG,GG,GG,GG,GG,...,GG,NC,GG,GG,GG,GG,GG,GG,GG,GG
1,exm41-0_B_F_1921435147,GG,GG,GG,GG,GG,GG,GG,GG,GG,...,GG,AA,GG,GG,GG,GG,GG,GG,GG,GG
2,exm1916089-0_B_R_1927689775,GG,GG,GG,GG,GG,GG,GG,GG,GG,...,GG,NC,GG,GG,GG,GG,GG,GG,GG,GG
3,exm44-0_B_R_1921538602,GG,GG,GG,GG,GG,GG,GG,GG,GG,...,GG,AG,GG,GG,GG,GG,GG,GG,GG,GG
4,exm46-0_T_F_1921333919,GG,GG,GG,GG,GG,GG,GG,GG,GG,...,GG,NC,GG,GG,GG,GG,GG,GG,GG,GG

In [80]:
remove_ends_column(GPL, "SNP")

# Conversion des génotypes au format VCF
hapmap = pd.DataFrame(columns=["exm#", "alleles", "chrom", "pos", "strand", "assembly#", "center",
                               "protLSID", "assayLSID", "panelLSID", "QCcode"])

# supprimer la première colonne de GPL
GSE_prime=GSE.copy()
GSE_prime.drop(GSE_prime.columns[0], axis=1, inplace=True)
# insérer GPL à la fin de hapmap
hapmap = pd.concat([hapmap, GSE_prime], ignore_index=True)

In [81]:
hapmap.head()

,exm#,alleles,chrom,pos,strand,assembly#,center,protLSID,assayLSID,panelLSID,...,215606,215753,215762,215763,215764,215769,215771,215772,215773,215827
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GG,NC,GG,GG,GG,GG,GG,GG,GG,GG
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GG,AA,GG,GG,GG,GG,GG,GG,GG,GG
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GG,NC,GG,GG,GG,GG,GG,GG,GG,GG
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GG,AG,GG,GG,GG,GG,GG,GG,GG,GG
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GG,NC,GG,GG,GG,GG,GG,GG,GG,GG

In [89]:
GPL_prime=GPL.copy()
row=extract_row_by_id(GPL_prime, "exm2268640-0_B_F_1984844585","IlmnID")

In [100]:
extract_cell_value(row,1)

'exm2268640'

In [99]:
extract_cell_value(row,1)
row.iloc[0,1]

'exm2268640'

In [ ]:
#hapmap = ajouter_colonnes(hapmap)

for i in tqdm(range(0, len(GPL.index))):
    # Conversion des génotypes en format VCF
    hapmap.loc[i,"exm#"] = GPL.loc[i,"IlmnID"]
    hapmap.loc[i, "alleles"] = GPL.loc[i,"SNP"]
    hapmap.loc[i,"chrom"] = GPL.loc[i,"Chr"]
    hapmap.loc[i,"pos"] = GPL.loc[i,"MapInfo"]
    hapmap.loc[i,"strand"] = GPL.loc[i,"RefStrand"]
    hapmap.loc[i,"assembly#"] = "NA"
    hapmap.loc[i,"center"] = "NA"
    hapmap.loc[i,"protLSID"] = "NA"
    hapmap.loc[i,"assayLSID"] = "NA"
    hapmap.loc[i,"panelLSID"] = "NA"
    hapmap.loc[i,"QCcode"] = "NA"
    for j in range (11,len(hapmap.columns)):
        line=extract_row_by_id(GSE, GPL.loc[i,"IlmnID"], "ID_REF")
        hapmap.iloc[i,j] = extract_cell_value(line,j-11)

# Écriture des génotypes convertis en format VCF dans un fichier
hapmap.to_csv("data.hapmap", sep="\t", index=False)

  0%|          | 0/242901 [00:00<?, ?it/s]


  0%|          | 1/242901 [00:32<2218:04:05, 32.87s/it]


  0%|          | 2/242901 [01:04<2197:09:56, 32.56s/it]


  0%|          | 3/242901 [01:35<2170:01:13, 32.16s/it]


  0%|          | 4/242901 [02:07<2157:06:33, 31.97s/it]


  0%|          | 5/242901 [02:42<2223:11:56, 32.95s/it]


  0%|          | 6/242901 [03:17<2253:16:27, 33.40s/it]


  0%|          | 7/242901 [03:48<2212:17:29, 32.79s/it]


  0%|          | 8/242901 [04:19<2179:01:03, 32.30s/it]


  0%|          | 9/242901 [04:52<2196:54:50, 32.56s/it]


  0%|          | 10/242901 [05:25<2196:22:56, 32.55s/it]


  0%|          | 11/242901 [05:57<2190:19:18, 32.46s/it]


  0%|          | 12/242901 [06:29<2169:16:30, 32.15s/it]


  0%|          | 13/242901 [06:59<2141:43:38, 31.74s/it]


  0%|          | 14/242901 [07:30<2122:06:15, 31.45s/it]


  0%|          | 15/242901 [08:02<2136:12:17, 31.66s/it]


  0%|          | 16/242901 [08:37<2203:30:30, 32.66s/it]


  0%|          | 17/242901 [09:11<2231:17:07, 33.07s/it]


  0%|          | 18/242901 [09:48<2296:38:43, 34.04s/it]


  0%|          | 19/242901 [10:23<2329:38:19, 34.53s/it]


  0%|          | 20/242901 [11:09<2555:19:06, 37.88s/it]


  0%|          | 21/242901 [12:16<3152:25:31, 46.73s/it]


  0%|          | 22/242901 [13:25<3594:44:15, 53.28s/it]


  0%|          | 23/242901 [14:33<3899:23:15, 57.80s/it]


  0%|          | 24/242901 [15:39<4069:41:17, 60.32s/it]


  0%|          | 25/242901 [16:30<3876:01:03, 57.45s/it]


  0%|          | 26/242901 [17:37<4064:07:14, 60.24s/it]


  0%|          | 27/242901 [18:42<4170:18:57, 61.81s/it]


  0%|          | 28/242901 [19:48<4238:48:08, 62.83s/it]


  0%|          | 29/242901 [20:52<4277:26:06, 63.40s/it]


  0%|          | 30/242901 [21:29<3729:26:48, 55.28s/it]


  0%|          | 31/242901 [22:00<3240:26:06, 48.03s/it]


  0%|          | 32/242901 [22:31<2908:13:53, 43.11s/it]


  0%|          | 33/242901 [23:03<2684:24:24, 39.79s/it]


  0%|          | 34/242901 [23:35<2526:30:45, 37.45s/it]


  0%|          | 35/242901 [24:07<2400:58:28, 35.59s/it]


  0%|          | 36/242901 [24:38<2309:58:52, 34.24s/it]


  0%|          | 37/242901 [25:09<2249:30:12, 33.34s/it]


  0%|          | 38/242901 [25:40<2203:09:42, 32.66s/it]


  0%|          | 39/242901 [26:14<2234:58:36, 33.13s/it]