In [10]:
import matplotlib.pyplot as plt
import dask.dataframe as dd
import pandas as pd

In [34]:
from sklearn.impute import KNNImputer
import numpy as np
import hashlib

In [42]:
df__33SNPs = pd.read_csv('./Sample/00.csv')

In [36]:
df__33SNPs.shape

(32, 3401)

In [43]:
# Remplacer les valeurs "NA", "NC", "NN" par des valeurs manquantes NaN
df__33SNPs.replace(['NA', 'NC', 'NN'], np.nan, inplace=True)

In [39]:
# Parcourir chaque ligne du DataFrame
for index, row in df__33SNPs.iterrows():

    # Trouver le mot ayant le plus grande occurrence dans la ligne courante
    max_count = 0
    max_word = None
    word_counts = {}
    for word in row:
        if pd.isna(word):
            continue
        if word not in word_counts:
            word_counts[word] = 0
        word_counts[word] += 1
        if word_counts[word] > max_count:
            max_count = word_counts[word]
            max_word = word

    # Remplacer chaque valeur nulle par le mot ayant le plus grande occurrence dans la ligne courante
    for col in df__33SNPs.columns:
        if pd.isna(row[col]):
            df__33SNPs.at[index, col] = max_word

df__33SNPs.to_csv("Imputed_Data.csv")

In [40]:
df_Imputed=pd.read_csv("Imputed_Data.csv")

In [41]:
df_Imputed.head()

,Unnamed: 0.1,Unnamed: 0,ID_REF,1900017,1900029,1900030,1900031,1900040,1900043,1900046,...,215606,215753,215762,215763,215764,215769,215771,215772,215773,215827
0,0,5190,exm40062-0_B_F_1921446865,AA,AA,AA,GA,AA,AA,AA,...,GA,AA,AA,AA,AA,AA,GA,AA,AA,AA
1,1,5582,exm42917-0_B_R_1921330580,GG,GG,GG,GG,GG,GG,GG,...,GG,GG,GG,GG,GG,GG,GG,GG,GG,GG
2,2,4133,exm32102-0_B_R_1919132524,GG,GG,GG,GG,GG,GG,GG,...,GG,AA,GG,GG,GG,GG,GG,GG,GG,GG
3,3,441,exm3255-0_T_F_1919184739,GG,GG,GG,GG,GG,GG,GG,...,GG,AA,GG,GG,GG,GG,GG,GG,GG,GG
4,4,5111,exm39539-0_B_R_1921369068,GG,GG,GG,GG,GG,GG,GG,...,GG,AA,GG,GG,GG,GG,GG,GG,GG,GG