In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
# Chemin vers le fichier CSV
filename = "newGPL18545_humanexome-12v1-1_a.csv"

# Charger le fichier CSV dans un dataframe pandas
df = pd.read_csv(filename)

# Supprimer les 23 dernières lignes
df = df.iloc[:-1]

# Écrire les données modifiées dans le fichier CSV
df.to_csv("newGPL18545_humanexome-12v1-1_a.csv", index=False)

In [132]:
#Une fonction qui supprime les crochéts
def remove_ends(input_string):
    if len(input_string) < 3:
        return "input_string"
    else:
        return input_string[1:-1]

In [133]:
def remove_ends_column(df, column_name):
    # Créer une nouvelle colonne avec les valeurs modifiées
    new_column = []
    for i in df.index:
        value = df.loc[i, column_name]
        if isinstance(value, str):
            new_value = remove_ends(value)
        else:
            new_value = ""
        new_column.append(new_value)
    # Remplacer la colonne existante par la nouvelle colonne
    df[column_name] = new_column
    return df

In [126]:
### Chemin vers le fichier CSV contenant les données de génotypage Illumina
GPL_file = "newGPL18545_humanexome-12v1-1_a.csv"
GSE_file= "GSE148375_processed_data.txt"

# Lecture des données de génotypage à partir du fichier CSV
GPL = pd.read_csv(GPL_file, sep=",")
GSE = pd.read_csv(GSE_file, sep="\t")

/usr/local/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [138]:
GPL.head()

,IlmnID,Name,IlmnStrand,SNP,AddressA_ID,AlleleA_ProbeSeq,AddressB_ID,AlleleB_ProbeSeq,GenomeBuild,Chr,...,Ploidy,Species,Source,SourceVersion,SourceStrand,SourceSeq,TopGenomicSeq,BeadSetID,Exp_Clusters,RefStrand
0,exm-IND1-200449980-0_M_R_1990486447,exm-IND1-200449980,MINUS,[D/I],69606251.0,CTGTGGAACTTTCCGGAGCTCGGCACCCTTCCCCCAAGCCTACCTG...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,GAGGGCCGCTCAGCGAGGGCGGGACAGAACCTCTCCCGGGCTGGGA...,GAGGGCCGCTCAGCGAGGGCGGGACAGAACCTCTCCCGGGCTGGGA...,662.0,3.0,-
1,exm-IND1-201453487-0_M_R_1990486448,exm-IND1-201453487,MINUS,[D/I],3775555.0,TCCTGCAACCAGGGCCGATACCCCCTCATCCAGACGCTACGGCAGG...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CATGGAGCTGTGTTTGTACCCCACCTCCAAATTCCACCACTGGCCC...,CATGGAGCTGTGTTTGTACCCCACCTCCAAATTCCACCACTGGCCC...,662.0,3.0,-
2,exm-IND1-85310248-0_P_F_1990486624,exm-IND1-85310248,PLUS,[I/D],56795122.0,TCAGAACCATGGCTCCAAAACAAAAGAAAAAGACATCACGTGGCAA...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CTTTATGCAGCCCAAGTCAGAACCATGGCTCCAAAACAAAAGAAAA...,CTTTATGCAGCCCAAGTCAGAACCATGGCTCCAAAACAAAAGAAAA...,688.0,3.0,+
3,exm-IND10-102817747-0_P_F_1990486569,exm-IND10-102817747,PLUS,[I/D],30777118.0,CTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCGACATCTCTGGCA...,NaN,NaN,37.1,10,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,GGGAACACCTGGCTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCG...,GGGAACACCTGGCTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCG...,662.0,3.0,+
4,exm-IND10-18329639-0_M_R_1990486442,exm-IND10-18329639,MINUS,[D/I],87684402.0,AAGGCTGCTCCTATGGCTAGGCCATCTGCAAAATTATGCAGGCTGT...,NaN,NaN,37.1,10,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CTGTGTTTATTTGGTTCCTTAGGTAAAGCCATTAGCTTGTTAGCAA...,CTGTGTTTATTTGGTTCCTTAGGTAAAGCCATTAGCTTGTTAGCAA...,662.0,3.0,-

In [64]:
from tqdm import tqdm

In [139]:
GPL_prime=GPL.copy()
GPL_prime=remove_ends_column(GPL_prime, "SNP")
#row=extract_row_by_id(GPL_prime, "exm2268640-0_B_F_1984844585","IlmnID")

In [140]:
GPL_prime.head()

,IlmnID,Name,IlmnStrand,SNP,AddressA_ID,AlleleA_ProbeSeq,AddressB_ID,AlleleB_ProbeSeq,GenomeBuild,Chr,...,Ploidy,Species,Source,SourceVersion,SourceStrand,SourceSeq,TopGenomicSeq,BeadSetID,Exp_Clusters,RefStrand
0,exm-IND1-200449980-0_M_R_1990486447,exm-IND1-200449980,MINUS,D/I,69606251.0,CTGTGGAACTTTCCGGAGCTCGGCACCCTTCCCCCAAGCCTACCTG...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,GAGGGCCGCTCAGCGAGGGCGGGACAGAACCTCTCCCGGGCTGGGA...,GAGGGCCGCTCAGCGAGGGCGGGACAGAACCTCTCCCGGGCTGGGA...,662.0,3.0,-
1,exm-IND1-201453487-0_M_R_1990486448,exm-IND1-201453487,MINUS,D/I,3775555.0,TCCTGCAACCAGGGCCGATACCCCCTCATCCAGACGCTACGGCAGG...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CATGGAGCTGTGTTTGTACCCCACCTCCAAATTCCACCACTGGCCC...,CATGGAGCTGTGTTTGTACCCCACCTCCAAATTCCACCACTGGCCC...,662.0,3.0,-
2,exm-IND1-85310248-0_P_F_1990486624,exm-IND1-85310248,PLUS,I/D,56795122.0,TCAGAACCATGGCTCCAAAACAAAAGAAAAAGACATCACGTGGCAA...,NaN,NaN,37.1,1,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CTTTATGCAGCCCAAGTCAGAACCATGGCTCCAAAACAAAAGAAAA...,CTTTATGCAGCCCAAGTCAGAACCATGGCTCCAAAACAAAAGAAAA...,688.0,3.0,+
3,exm-IND10-102817747-0_P_F_1990486569,exm-IND10-102817747,PLUS,I/D,30777118.0,CTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCGACATCTCTGGCA...,NaN,NaN,37.1,10,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,GGGAACACCTGGCTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCG...,GGGAACACCTGGCTCTGCAAGTTTTGTGCCTTAGCGGAAAGAGGCG...,662.0,3.0,+
4,exm-IND10-18329639-0_M_R_1990486442,exm-IND10-18329639,MINUS,D/I,87684402.0,AAGGCTGCTCCTATGGCTAGGCCATCTGCAAAATTATGCAGGCTGT...,NaN,NaN,37.1,10,...,diploid,Homo sapiens,1000genomes,0.0,PLUS,CTGTGTTTATTTGGTTCCTTAGGTAAAGCCATTAGCTTGTTAGCAA...,CTGTGTTTATTTGGTTCCTTAGGTAAAGCCATTAGCTTGTTAGCAA...,662.0,3.0,-

In [141]:
#Convertir le dataframe GPL_prime en dictionnaire ou chaque clé représente le nom de la colonne et les valeurs représente la valeur de chaque colonne
dict_GPL=GPL_prime.to_dict(orient='list')
for key in dict_GPL:
    print(f"La première valeur de {key} est {dict_GPL[key][0]}")

La première valeur de IlmnID est exm-IND1-200449980-0_M_R_1990486447
La première valeur de Name est exm-IND1-200449980
La première valeur de IlmnStrand est MINUS
La première valeur de SNP est D/I
La première valeur de AddressA_ID est 69606251.0
La première valeur de AlleleA_ProbeSeq est CTGTGGAACTTTCCGGAGCTCGGCACCCTTCCCCCAAGCCTACCTGGGCG
La première valeur de AddressB_ID est nan
La première valeur de AlleleB_ProbeSeq est nan
La première valeur de GenomeBuild est 37.1
La première valeur de Chr est 1
La première valeur de MapInfo est 202183358.0
La première valeur de Ploidy est diploid
La première valeur de Species est Homo sapiens
La première valeur de Source est 1000genomes
La première valeur de SourceVersion est 0.0
La première valeur de SourceStrand est PLUS
La première valeur de SourceSeq est GAGGGCCGCTCAGCGAGGGCGGGACAGAACCTCTCCCGGGCTGGGAGTGCACGGCGCGGT[-/G]CGCCCAGGTAGGCTTGGGGGAAGGGTGCCGAGCTCCGGAAAGTTCCACAGGTCCTCCGCA
La première valeur de TopGenomicSeq est GAGGGCCGCTCAGCGAGGGCGGGACAGAACCTCTCCCGGGCTGGGAGTGCACGGCGCGGT[-/G]CGCCCAGGTAGGCTTGGGGGAAGGGTGCCGAGCTCCGGAAAGTTCCACAGGTCCTCCGCA
La première valeur de BeadSetID est 662.0
La première valeur de Exp_Clusters est 3.0
La première valeur de RefStrand est -

In [142]:
#Convertir le dtaframe GSE_prime en dictionnaire
dict_GSE=GSE_prime.to_dict(orient='list')

In [119]:
def keep_keys_only(dictionnaire, liste_cles):
    """
    Cette fonction garde une liste de clés dans un dictionnaire et supprime toutes les autres clés et leurs valeurs.

    Args:
        dictionnaire (dict): le dictionnaire à modifier.
        liste_cles (list): une liste de clés à garder.

    Returns:
        dict: le dictionnaire modifié.
    """
    for cle in list(dictionnaire.keys()):
        if cle not in liste_cles:
            del dictionnaire[cle]
    return dictionnaire

In [143]:
#Redéfinir dict_GPL en gardant que les colonnes qui nous intéresse
cle_a_garder = ["IlmnID", "SNP", "Chr", "MapInfo", "RefStrand"]
dictionnaire = keep_keys_only(dict_GPL, cle_a_garder)
#Tester la fonction keep_keys_only
for key in dictionnaire:
    print(f"La première valeur de {key} est {dictionnaire[key][0]}")

La première valeur de IlmnID est exm-IND1-200449980-0_M_R_1990486447
La première valeur de SNP est D/I
La première valeur de Chr est 1
La première valeur de MapInfo est 202183358.0
La première valeur de RefStrand est -

In [104]:
for i in tqdm(range(0, len(GPL.index))):
    # Conversion des génotypes en format VCF
    hapmap.loc[i,"exm#"] = GPL.loc[i,"IlmnID"]
    hapmap.loc[i, "alleles"] = GPL.loc[i,"SNP"]
    hapmap.loc[i,"chrom"] = GPL.loc[i,"Chr"]
    hapmap.loc[i,"pos"] = GPL.loc[i,"MapInfo"]
    hapmap.loc[i,"strand"] = GPL.loc[i,"RefStrand"]
    hapmap.loc[i,"assembly#"] = "NA"
    hapmap.loc[i,"center"] = "NA"
    hapmap.loc[i,"protLSID"] = "NA"
    hapmap.loc[i,"assayLSID"] = "NA"
    hapmap.loc[i,"panelLSID"] = "NA"
    hapmap.loc[i,"QCcode"] = "NA"
    """for j in range (11,len(hapmap.columns)):
        line=extract_row_by_id(GSE, GPL.loc[i,"IlmnID"], "ID_REF")
        hapmap.iloc[i,j] = extract_cell_value(line,j-11)"""

# Écriture des génotypes convertis en format hapmap dans un fichier
#hapmap.to_csv("data.hapmap", sep="\t", index=False)

SyntaxError: invalid syntax (<ipython-input-104-0d15b8370d96>, line 1)